<!-- templates/index.html -->
{% extends "base.html" %} {% block title %}Ana Sayfa - Ulaşım Rota Planlama
Sistemi{% endblock %} {% block content %}
<div class="fade-in-up">
  <div class="jumbotron p-5 mb-4 bg-light rounded-3">
    <div class="container text-center">
      <h1 class="display-4 fw-bold">Hoş Geldiniz!</h1>
      <p class="lead">
        Bu sistem, İzmit bölgesinde otobüs, tramvay ve taksi seçeneklerini
        kullanarak en uygun güzergâhı planlar.
      </p>
      <a href="{{ url_for('route_page') }}" class="btn btn-primary btn-lg"
        >Rota Planlamaya Başla</a
      >
    </div>
  </div>
</div>
{% endblock %}
